<h1>Users#login</h1>
<p>Find me in app/views/users/login.html.erb</p>
<%= form_tag("/users/show/", method: "post") do %>
	<p style="width:300px">
		Username:<%= text_field_tag(:username,"admin") %><br>
		Password:<%= text_field_tag(:password,"nqmatakava") %><br>
	</p>

	<p>
		<%= submit_tag "Login" %><br>
	</p>
<% end %>
