<h1>Documents#new</h1>
<p>Find me in app/views/documents/new.html.erb</p>
<%= form_tag("/documents", method: "post") do %>
	<p style="width:300px">
		<%= text_area_tag(:password, nil, rows: 40, cols: 50) %><br>
	</p>

	<p>
		<%= submit_tag "Submit" %><br>
	</p>
<% end %>
